header {
  position: relative;
  z-index: 1;
  width: 100%;
  left: 0;
}

.logo {
  float: left;
  max-width: 130px;
  @media screen and (max-width: 768px) {
    max-width: 75px;
  }
}

.navigation {
  float: right;
}
nav.social, nav.menu {
  float: left;
  margin: 5px;
  color: #fff;
  font-size: 23px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    float: left;
  }
  a {
    margin: 10px 5px;
    display: block;
    color: #fff;
  }
}

nav.menu {
  margin-left: 20px;
  a {
    text-transform: uppercase;
    font-size: 20px;
    margin: 8px 5px;
    i {
      margin-left: 5px;
    }
  }
}

.otherPage {
  padding-top: 90px;
  header {
    background: #1F2421;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 2;
  }
  .logo {
    max-width: 69px;
    padding: 5px;
  }
}
.headerOtherPage {
  h1 {
    font-size: responsive 49px 70px;
    text-align: center;
    text-transform: uppercase;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 300;
  padding: 20px;
  text-align: justify;
}