footer
  .containerFooter
    img(src="img/logo.png")
    nav.socialFooter.uk-clearfix
      ul
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-instagram
        li
          a(href="#")
            i.fa.fa-youtube
        li
          a(href="#")
            i.fa.fa-spotify
    .divider
    a(href="contact.html") Contact
  .copyFooter.uk-clearfix
    .fLeft
      p 2017 &copy T-BONE
    .fRight
      p Site by Gravity