header(class="uk-position-top uk-clearfix", data-uk-observe)
  .logo
    img(src="img/logo.png")
  .navigation
    nav.social
      ul
        li
          a(href="#")
            i.fa.fa-facebook
        li
          a(href="#")
            i.fa.fa-twitter
        li
          a(href="#")
            i.fa.fa-instagram
        li
          a(href="#")
            i.fa.fa-youtube
        li
          a(href="#")
            i.fa.fa-spotify
    //end -/navsocial
    nav.menu
      a(href="javascript:;", class="_menuMovil") Menu
        i.fa.fa-bars