<!DOCTYPE html>
html(lang="es")
    - var title = "TBONE OFICIAL";
    - var description = "This is the description of my site";
    include includes/head.pug
    body.otherPage
        include sections/header.pug
        div.headerOtherPage
          h1 Albums
        section.albumsContainer
          div(data-uk-grid)
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumpamidios
                    a(href="/es/galeria.html")
                        p.uk-flex Pa' mi Dios y Pa'mi Gente | 2017
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumBoneAppetit
                    a(href="/es/galeria.html")
                        p.uk-flex Bone Appetit | 2007
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumBoneaFide
                    a(href="/es/galeria.html")
                        p.uk-flex Bone a Fide 2012
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumHistory
                    a(href="/es/galeria.html")
                        p.uk-flex History of a Hoodlum | 1998
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumHistory
                    a(href="/es/galeria.html")
                        p.uk-flex Biography
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumHistory
                    a(href="/es/galeria.html")
                        p.uk-flex Biography
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumHistory
                    a(href="/es/galeria.html")
                        p.uk-flex Biography
            .uk-width-small-1-1.uk-width-medium-1-4.oh
                .homeItemsTbone_unique.albumHistory
                    a(href="/es/galeria.html")
                        p.uk-flex Biography
        include sections/footer.pug
        include includes/foot.pug